body {
    color: #2e2f42;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


.feedback-form {
    padding: 24px;
}

label {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    width: 360px;
    height: 40px;
    margin: 8px 0;
    /* margin-top: 8px;
    margin-bottom: 8px; */
    border-radius: 4px;
    border: 1px solid #808080;
    color: #2E2F42;

    padding-left: 16px;
}

textarea {
    height: 80px;
}

input, textarea:hover{
    border: 1px solid #000;
}

button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  display: flex;
  padding: 8px 16px;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;

  cursor: pointer;
}

button:hover{
    background: #6C8CFF;
}